body {
	padding-bottom:40px;
}
ol.linenums {
	list-style-position: outside !important;
	font-size:14px !important;
	list-style-type: decimal !important;
	background: #fff !important;

	li {
		list-style-type: decimal !important;
			width:500px;
	}
}

#dp-margin {
	margin:50px 0px;
}

pre.prettyprint {
	border:1px solid #ccc;
	border-left:5px solid #2ba6cb;
	width:auto;
	background: #fff !important;
	padding:5px 20px;
	text-shadow: 0 1px 0 #fff;
	
	ol {
		li {
			
			white-space: pre-wrap;
			word-break: break-all;
			word-wrap: break-word;
		}
	}
}
#sidebar-wrap {
	background:#2ba6cb;
	a {
		color: #fff;
	}
}
#sidebar-wrap ul {
	margin-left:20px;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	cursor: not-allowed;
	background-color: 
	#eeeeee;
}

